.search-advanced {
  padding: 0;
  display: flex;
  overflow: hidden;
}

.search-advanced-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.search-advanced-form .search-toggle-advanced {
  position: absolute;
  top: 29px;
  right: 28px;
}

.search-advanced .search-advanced-form > .loading img {
  position: absolute;
  top: 28px;
  right: 27px;
  width: 17px;
  height: 17px;
}

.search-advanced-results {
  background-color: rgba(255, 255, 255, 0.9);
  border-left: 1px solid #ccc;
  min-width: 0;
  flex-grow: 1;
  padding-top: 12px;
}

.search-advanced-results .search-summary {
  padding: 0 20px 10px;
  border-bottom: 1px solid #ccc;
}

.search-advanced-form .loading-or-expand.loading .search-toggle-advanced {
  display: none;
}
