.amt-browser {
  background: linear-gradient(160deg, #f6f3ec, white);
  position: relative;
}

.amt-browser .search {
  z-index: 95;
}

.amt-browser .errors {
  text-align: center;
}

.amt-browser .loading img {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 99;
}
