.product-model {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #d3dfeb;
  z-index: -1;
}

.product-model svg {
  cursor: pointer;
}

.product-model .relationship .link {
  stroke: black;
  fill: transparent;
}

.product-model .relationship .arrow {
  stroke: black;
  fill: transparent;
}

.product-model .relationship-is-a .arrow {
  fill: white;
}

.product-model .relationship-has-component .arrow {
  fill: black;
}
