.product-model {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #d3dfeb;
}

.product-model svg {
  cursor: pointer;
}

.product-model line {
  stroke: #666;
}
