.search-basic {
  position: relative;
}

.search-basic-form {
  width: 266px;
  position: relative;
}

.search-basic-form .search-toggle-advanced {
  position: absolute;
  top: 9px;
  right: 9px;
}

.search-basic .search-basic-form .loading img {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 17px;
  height: 17px;
}

.search-basic .quick-search-results {
  position: absolute;
  top: 34px;
  min-width: 500px;
}

.search-basic-form .loading-or-expand.loading .search-toggle-advanced {
  display: none;
}
