.concept {
  font-family: 'Helvetica Neue', sans-serif;
  border: 1px solid black;
  padding: 8px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 5px 5px 50px 1px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none;
}

.concept-focused {
  border-width: 2px;
  font-weight: 500;
  padding-top: 6px;
}

.concept .display {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.2;
  max-height: 3.6rem;
  min-height: 1.1rem;
}

.concept .concept-type {
  position: absolute;
  bottom: 6px;
  right: 6px;
}

.concept .sctid {
  margin-bottom: 3px;
}

.concept-focused .sctid {
  margin-bottom: 2px;
}

.concept .artgid {
  margin-top: 3px;
}

.concept .sctid,
.concept .display {
  position: relative;
}

.concept .copy-to-clipboard {
  display: none;
  margin-top: -20px;
  margin-left: 3px;
  position: relative;
  top: 4px;
  cursor: pointer;
}

.concept .sctid:hover .copy-to-clipboard,
.concept .display:hover .copy-to-clipboard {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}
