.concept-type-toggle {
  font-family: 'Helvetica Neue', sans-serif;
}

.concept-type-toggle > label {
  display: flex;
}

.concept-type-toggle .toggles {
  display: flex;
  flex-wrap: wrap;
}

.concept-type-toggle .concept-type {
  border-radius: 5px;
  font-size: 11px;
  position: relative;
  box-sizing: border-box;
  margin: 0 3px 3px 0;
  cursor: pointer;
  user-select: none;
}
