.concept-group {
  position: absolute;
  width: 100px;
  height: 47px;
}

.concept-group .concept {
  position: absolute;
  width: 90px;
  height: 37px;
}

.concept-group .concept .type {
  position: relative;
  right: inherit;
  margin-right: 3px;
  display: inline-block;
}

.concept-group .concept .icon {
  display: inline;
}

.concept-stacked-1 {
  top: 0;
  left: 0;
  z-index: 3;
  box-shadow: none;
}

.concept-stacked-2,
.concept-stacked-3 {
  width: 100%;
  height: 100%;
}

.concept-stacked-2 {
  top: 5px;
  left: 5px;
  z-index: 2;
  box-shadow: none;
}

.concept-stacked-3 {
  top: 10px;
  left: 10px;
  z-index: 1;
}

.concept-group-total {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 13px;
  position: absolute;
  top: -10px;
  left: 90px;
  background-color: #d11c24;
  color: #fff;
  border-radius: 50px;
  z-index: 4;
  padding: 6px;
  min-width: 12px;
  text-align: center;
  transform: translate(-50%, 0);
}
