.date-range-field {
  font-family: 'Helvetica Neue', sans-serif;
}

.date-range-field > label {
  display: flex;
}

.date-range-field > label span {
  position: relative;
  top: 1px;
}

.date-range-input {
  display: inline-block;
  border: 1px solid #666;
  border-radius: 6px;
  font-size: 14px;
  width: 154px;
  padding: 0 3px;
  cursor: pointer;
  height: 25px;
  box-sizing: border-box;
  transition: border-color border-width 0.3s;
}

.date-range-input:hover,
.date-range-input.focused {
  border-color: #3b6d8c;
}

.date-range-input.focused {
  border-width: 2px;
}

.date-range-input.focused input {
  padding-top: 2px;
  padding-bottom: 2px;
}

.date-range-input.focused input:first-of-type {
  padding-left: 2px;
}

.date-range-input.focused input:last-of-type {
  padding-right: 2px;
}

.date-range-input input {
  border: 0;
  padding: 3px;
  background: transparent;
  width: 64px;
  height: 17px;
  text-align: center;
  cursor: pointer;
}

.date-range-input input:disabled {
  color: black;
  /* This is required for Firefox 45, in which mouse events are discarded for
  disabled input fields. */
  pointer-events: none;
}

.date-range-input input:focus {
  outline: none;
}

.date-range-field .date-range-flyout {
  z-index: 81;
}

.date-range-field .rdr-MonthAndYear-innerWrapper {
  padding-top: 4px !important;
  height: 32px !important;
}

.date-range-field .rdr-MonthAndYear-button {
  background-color: #ddd !important;
  cursor: pointer;
  transition: background-color 0.3s;
}

.date-range-field .rdr-MonthAndYear-button:hover {
  background-color: #ccc !important;
}

/* Overrides to fix styling within Firefox 45 */

.date-range-field .rdr-WeekDay,
.date-range-field .rdr-Days > span {
  width: 37px !important;
}

.date-range-field .rdr-MonthAndYear-button.prev {
  position: relative !important;
}

.date-range-field .rdr-MonthAndYear-button.prev i {
  position: absolute !important;
  top: 5px !important;
  left: 1px !important;
}
