.full-search-results {
  font-family: 'Helvetica Neue', sans-serif;
  z-index: 80;
}

.full-search-results ol {
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.full-search-results .search-result {
  padding: 7px 20px;
  border-bottom: 1px solid #ccc;
  display: flex;
  cursor: pointer;
}

.full-search-results .search-result:last-of-type {
  border-bottom: 0;
}

.full-search-results .search-result .sctid {
  margin-right: 16px;
  min-width: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.full-search-results .search-result .display {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 16px;
  flex-grow: 1;
}

.full-search-results .search-result .concept-type {
  font-size: 10px;
  border-radius: 5px;
}

.full-search-results .no-results {
  padding: 14px 20px;
  font-size: 14px;
}
