.full-search-results {
  font-family: 'Helvetica Neue', sans-serif;
  z-index: 80;
  display: flex;
  flex-direction: column;
}

.full-search-results ol {
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex: 1;
}

.full-search-results .search-result {
  padding: 7px 20px;
  border-bottom: 1px solid #ccc;
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
}

.full-search-results .search-result:hover {
  background-color: rgb(238, 246, 255);
}

.full-search-results .search-result .sctid,
.full-search-results .search-result .display {
  line-height: 22px;
}

.full-search-results .search-result .sctid {
  margin-right: 16px;
  min-width: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.full-search-results .search-result .display {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 16px;
  flex-grow: 1;
}

.full-search-results .search-result .concept-type {
  font-size: 10px;
  border-radius: 5px;
}

.full-search-results .no-results {
  padding: 14px 20px;
  font-size: 14px;
}

.full-search-results .unloaded-search-result {
  position: relative;
}

.full-search-results .unloaded-search-result .sctid,
.full-search-results .unloaded-search-result .display,
.full-search-results .unloaded-search-result .concept-type {
  background-color: #eee;
  position: absolute;
  top: 10px;
  height: 18px;
}

.full-search-results .unloaded-search-result .sctid {
  width: 138px;
  left: 20px;
}

.full-search-results .unloaded-search-result .display {
  left: 177px;
}

.full-search-results .unloaded-search-result .concept-type {
  right: 20px;
  width: 25px;
  height: 10px;
  background-color: white;
  border: 2px solid #ddd;
  top: 8px;
}
