.medication-search-field {
  font-family: 'Helvetica Neue', sans-serif;
  position: relative;
}

.medication-search-field .text-field input[type='text'] {
  float: right;
  border: 1px solid #666;
  border-radius: 6px;
  padding: 3px;
  font-size: 13px;
  padding-right: 22px;
  width: 127px;
}

.medication-search-field .quick-search-results {
  position: absolute;
  top: 22px;
  right: -246px;
  width: 400px;
  z-index: 65;
}

.medication-search-field .quick-search-results ol {
  background-color: white;
}

.medication-search-field .selected-code {
  position: absolute;
  top: 0;
  right: 0;
  background: #666;
  color: white;
  border-radius: 6px;
  padding: 4px 17px 4px 6px;
  font-size: 13px;
  max-width: 130px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.medication-search-field .clear-code {
  position: absolute;
  top: 7px;
  right: 4px;
  cursor: pointer;
  fill: white;
}

.medication-search-field .loading img {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 15px;
  height: 15px;
}
