.quick-search-results {
  font-family: 'Helvetica Neue', sans-serif;
}

.quick-search-results a,
.quick-search-results a:active,
.quick-search-results a:visited {
  color: black;
  text-decoration: none;
  display: block;
}

.quick-search-results ol {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 5px 0 0;
  padding: 4px 0;
  list-style-type: none;
  border-radius: 0 6px 6px 6px;
  box-shadow: 5px 5px 50px 1px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.quick-search-results ol > * {
  padding: 7px 8px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.quick-search-results ol > .selected {
  background-color: #eee;
}

.quick-search-results ol > *:last-of-type {
  border-bottom: 0;
}

.quick-search-results .search-result .display {
  margin-right: 64px;
  overflow: hidden;
  display: block;
}

.quick-search-results .search-result .concept-type {
  float: right;
  position: relative;
  font-size: 10px;
  border-radius: 5px;
  top: -2px;
  right: -3px;
}

.quick-search-results .search-result .concept-type-inactive {
  top: -3px;
}

.quick-search-results .no-results {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 7px 8px;
  border-radius: 0 6px 6px 6px;
  box-shadow: 5px 5px 50px 1px rgba(0, 0, 0, 0.1);
}

.quick-search-results .more-results {
  font-weight: bold;
}

.quick-search-results .text {
  font-style: italic;
}
