.quick-search-results {
  font-family: 'Helvetica Neue', sans-serif;
}

.quick-search-results ol {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 5px 0 0;
  padding: 4px 0;
  list-style-type: none;
  border-radius: 0 6px 6px 6px;
  box-shadow: 5px 5px 50px 1px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.quick-search-results .search-result {
  padding: 7px 8px;
  border-bottom: 1px solid #ccc;
}

.quick-search-results .search-result:last-of-type {
  border-bottom: 0;
}

.quick-search-results .search-result .display {
  margin-right: 64px;
  overflow: hidden;
  display: block;
  cursor: pointer;
}

.quick-search-results .search-result .display a {
  text-decoration: none;
  color: black;
}

.quick-search-results .search-result .type {
  float: right;
  background-color: #aaa;
  border-radius: 6px;
  padding: 4px 6px;
  color: white;
  position: relative;
  top: -2px;
  font-size: 10px;
}

.quick-search-results .search-result .type-ctpp {
  /* Solarized Orange */
  background-color: #bd3613;
}

.quick-search-results .search-result .type-tpp {
  /* Solarized Yellow */
  background-color: #a57706;
}

.quick-search-results .search-result .type-tpuu {
  /* Solarized Magenta */
  background-color: #c61c6f;
}

.quick-search-results .search-result .type-tp {
  /* Solarized Violet */
  background-color: #595ab7;
}

.quick-search-results .search-result .type-mpp {
  /* Solarized Blue */
  background-color: #2176c7;
}

.quick-search-results .search-result .type-mpuu {
  /* Solarized Cyan */
  background-color: #259286;
}

.quick-search-results .search-result .type-mp {
  /* Solarized Green */
  background-color: #738a05;
}

.quick-search-results .search-result .type-substance {
  /* Solarized Red */
  background-color: #d11c24;
}

.quick-search-results .no-results {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 7px 8px;
  border-radius: 0 6px 6px 6px;
  box-shadow: 5px 5px 50px 1px rgba(0, 0, 0, 0.1);
}

.quick-search-results .more-results {
  padding: 7px 8px;
  font-weight: bold;
}

.quick-search-results .more-results a {
  text-decoration: none;
  color: black;
}
