.search {
  font-family: 'Helvetica Neue', sans-serif;
  position: absolute;
  top: 20px;
  left: 20px;
}

.search-input {
  font-family: 'Helvetica Neue', sans-serif;
  border: 1px solid #666;
  border-radius: 6px;
  padding: 7px;
  font-size: 14px;
  width: 250px;
}

.search-toggle-advanced {
  font-size: 15px;
  position: absolute;
  top: 6px;
  right: 8px;
  cursor: pointer;
  user-select: none;
}
