.search-summary {
  font-family: 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.search-summary .pagination-total {
  font-size: 14px;
  position: relative;
  top: -3px;
  font-weight: bold;
  display: inline;
}

.search-summary .download-results {
  margin-left: 12px;
}

.search-summary .pagination-next,
.search-summary .pagination-previous {
  cursor: pointer;
  margin-left: 3px;
}

.search-summary .pagination-next.disabled,
.search-summary .pagination-previous.disabled {
  opacity: 0.3;
  cursor: default;
}
