.search-form {
  font-family: 'Helvetica Neue', sans-serif;
  padding: 16px 0;
  width: 265px;
}

.search-form .text-field,
.search-form .medication-search-field {
  margin-bottom: 12px;
}

.search-form .text-field label,
.search-form .medication-search-field label {
  font-size: 14px;
  padding: 4px;
  position: relative;
  display: block;
}

.search-form .concept-type-toggle {
  margin-bottom: 5px;
}

.search-form .concept-type-toggle .toggles {
  justify-content: flex-end;
}

.search-form .concept-type-toggle label {
  padding: 4px 0 4px 4px;
}

.search-form .concept-type-toggle label span {
  font-size: 14px;
  min-width: 107px;
  align-self: stretch;
}

.search-form .concept-type-toggle .toggle {
  margin: 0 0 3px 3px;
}

.search-form .text-field input {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #666;
  border-radius: 6px;
  padding: 3px;
  font-size: 13px;
  width: 146px;
}

.search-submit {
  background-color: #c2dcf2;
  border-radius: 6px;
  border: 1px solid #c2dcf2;
  padding: 7px 27px 7px 7px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  cursor: pointer;
  float: right;
  outline: none;
  text-align: left;
  margin-top: 4px;
  position: relative;
}

.search-submit:hover {
  border: 1px solid #aaa;
}

.search-submit .icon {
  position: absolute;
  top: 5px;
  right: 5px;
}

.search-form .clear-form {
  font-size: 14px;
  position: relative;
  top: 12px;
  left: 3px;
}

.search-form .clear-form:hover {
  text-decoration: underline;
  cursor: pointer;
}
