.search {
  font-family: 'Helvetica Neue', sans-serif;
}

.search-input {
  font-family: 'Helvetica Neue', sans-serif;
  border: 1px solid #666;
  border-radius: 6px;
  padding: 7px 27px 7px 7px;
  font-size: 14px;
  width: 229px;
}

.search-input:disabled {
  background-color: #eee;
}

.search .search-basic {
  position: absolute;
  top: 20px;
  left: 20px;
}

.search .search-advanced {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.search.with-results .search-advanced {
  width: 100%;
}
