.subject-concept-details {
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 1px 1px rgba(16, 22, 26, 0.2),
    0 2px 6px rgba(16, 22, 26, 0.2);
  padding: 7px 0;
  border-radius: 6px;
  max-height: 90vh;
  overflow-y: auto;
}

.subject-concept-details .row {
  display: flex;
}

.subject-concept-details div {
  position: relative;
}

.subject-concept-details .field-name,
.subject-concept-details .field-value {
  font-size: 13px;
  padding: 3px 0;
  overflow: hidden;
  user-select: none;
}

.subject-concept-details .field-name {
  width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  padding-left: 10px;
}

.subject-concept-details .field-value {
  width: 200px;
  text-overflow: ellipsis;
  padding-left: 10px;
  padding-right: 10px;
}

.subject-concept-details .field-value > div {
  position: relative;
  margin-bottom: 4px;
}

.subject-concept-details .field-value a:last-of-type {
  margin-bottom: 0;
}

.subject-concept-details .field-value .icon {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.subject-concept-details .copy-to-clipboard {
  display: none;
  cursor: pointer;
}

.subject-concept-details div:hover > .copy-to-clipboard {
  display: block;
  position: absolute;
  top: 1px;
  right: 10px;
  margin: 0;
}

.subject-concept-details .artg-search {
  position: relative;
  top: 2px;
  left: 5px;
}
