.visibility-filter {
  position: relative;
  padding-top: 36px;
  user-select: none;
}

.visibility-filter-icon {
  opacity: 0.6;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 4px;
}

.visibility-filter-icon:hover {
  opacity: 0.8;
}

.visibility-filter-icon.active {
  opacity: 1;
}

.visibility-filter-menu {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3px 8px 8px;
  border-radius: 6px;
  font-size: 13px;
  text-align: right;
}

.visibility-filter-menu ol {
  list-style-type: none;
  margin: 0;
}

.visibility-filter li {
  margin: 0 0 3px;
  padding: 0;
}

.visibility-filter .toggle {
  margin-left: 8px;
  position: relative;
  top: 5px;
}

.visibility-filter .concept-type {
  font-size: 10px;
  padding: 3px 5px;
}

.visibility-filter .concept-type.ghosted {
  opacity: 0.5;
}

.visibility-filter-options label {
  cursor: pointer;
}

.visibility-filter-options label .icon {
  position: relative;
  top: 6px;
}

.visibility-filter-menu h2 {
  font-size: 13px;
  font-weight: bold;
  margin: 5px 0 5px;
}

.visibility-filter-menu .show-all {
  text-decoration: underline;
  margin-top: 12px;
  cursor: pointer;
}
